<h1>Editing myscience</h1>

<%= render "form", myscience: @myscience %>

<br>

<div>
  <%= link_to "Show this myscience", @myscience %> |
  <%= link_to "Back to mysciences", mysciences_path %>
</div>
