<img src="/uploads/<%=circleobject.image.image%>" class="pic" data-light="<%=circleobject.mycond ? "1" : "0"%>" onclick="this.outerHTML=(this.dataset.light === '1' ? '<span>OK!</span>' : '<span>failure<span>');"/>
