<h1>Editing momentday</h1>

<%= render "form", momentday: @momentday %>

<br>

<div>
  <%= link_to "Show this momentday", @momentday %> |
  <%= link_to "Back to momentdays", momentdays_path %>
</div>
